@model MemberLoginViewModel

<form asp-action="login" method="post">
    <div class="login-form">
        <h4 class="login-title">Returning Customer</h4>
        <p><span class="font-weight-bold">I am a returning customer</span></p>
        <div class="row">
            <div class="col-lg-6 mb--20">
                <label asp-for="UserName">Repeat Password</label>
                <input class="mb-0 form-control" asp-for="UserName" placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="col-lg-6 mb--20">
                <label asp-for="PassWord">Repeat Password</label>
                <input class="mb-0 form-control" asp-for="PassWord" placeholder="Enter your password">
                <span class="text-danger" asp-validation-for="PassWord"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <button type="button" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
</form>
